page-chat {
    .scroll-content {
        background-color: #f4f4f4;
    }

    h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 16px;
        background-color: #fff;
    }
}

div.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    .chat-input-wrapper {
        background-color: #fff;
        padding: 0 0 16px 16px;
    }

    ion-item {
        display: inline-block;
        width: 73%;
        padding:0;
    }

    input[aria-hidden] {
        display: none;
    }


    ion-card.chat {
        width: 80%;
        background-color: #fff;
        padding: 3rem;
        margin-left: 16px;
    }

    button {
        display: inline-block;
        width: 15%;
        margin: 0 0 0 10px;
        vertical-align: bottom;
    }
}