<ion-header>
  <ion-navbar>
    <ion-title><img src="images/logo.png" width="160"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="!changedState">
    Go and hold each others' hands!
  </p>
  
  <img src="{{mapsUrl}}" />

  <p *ngIf="changedState">
      <button ion-button (click)="openRating()" *ngIf="onConfirmPage" class="full">Tell us about your Mates yesterday!</button>
      <button ion-button (click)="openChat()" *ngIf="showMatch" class="full">You got a match!</button>
  </p>
</ion-content>
