<ion-header>
  <ion-navbar>
    <ion-title><img src="images/logo.png" width="160"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="!showMatch">Thanks for replying. We will notify you when you matched someone.</p>
  <div *ngIf="showMatch">
      <h2>You've got a match!</h2>
      <ion-card (click)="openChat()" class="active">
          <img src="{{matchImageUrl}}">
          <div class="card-title">Chat with {{matchName}}</div>
      </ion-card>
  </div>
</ion-content>
